/* ここから下に記載していく */

@charset "utf-8";

/* ここはhearder */
ul.header_content{
    display: flex ;
    margin-right: 50px;
}

ul.header_content li{
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 21px;
    justify-content: space-between;
    align-items: center
    
}

.header_content a{
    text-decoration: none;
    color: black;
}


.header_content ul{
    justify-content: space-around;
}

body{
    width: 100%;
    color: #222222;
}

html{
    font-size: 16px;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/* ここまでheader */

/* ここから背景画像 */
.mainvisual{
    height: 470px;
    background: url(../img/mainbg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainvisual__title{
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
}

.mainvisual__subtitle{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 200px;
}

.mainvisual{
    margin: center;
}

/* ここまで背景画像 */

/* ここからabout */

.about{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;   

}

.about_text{
    color: #ffd61a;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

p.about_subtitle{
    margin-bottom: 60px;
    font-size: 24px;
}

p.about_sentense_1{
    line-height: 2;
}

p.about_sentense_2{
    margin: 40px;
}

p.about_sentense_3{
    line-height: 2;
}

.about_photo{
    display: flex;
    margin-bottom: 60px;
}

.about_photo p img{
    width: 100%;
}

/* ここからabout */

/* ここからcourse */

.course{
    text-align: center;
    margin-bottom: 60px;
}

.course_text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.course_text0{
    line-height: 2;
}


.course_box1{
    display: flex;
    width: 100%;
    background-color: #fafafa;
}

.course_text1{
    line-height: 2;
    margin-right: 20px;
    padding-left: 50px;
    padding-top: 120px;
    width: 480px;
}

.course_text1 h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 430px;
}

.course_box2{
    display: flex;
    width: 100%;
    background-color: #fafafa;
}

.course_text2{
    line-height: 2;
    margin-right: 50px;
    padding-left: 20px;
    padding-top: 120px;
    width: 480px;
}

.course_text2 h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 480px;
}

.course_box3{
    display: flex;
    width: 100%;
    background-color: #fafafa;
}

.course_text3{
    line-height: 2;
    margin-right: 20px;
    padding-left: 50px;
    padding-top: 120px;
    width: 480px;
}

.course_text3 h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 430px;
}

/* ここまでcourse */

/* ここからnews */

.news{
    text-align: center;
    margin: 60px 0;
}

.news_title{
    color: #ffd61a;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.news_box ul{
    margin-bottom: 60px;;
    margin: 0 auto;
    align-items: center;
    ;
}

.news_text1{
    margin-top: 30px;
    margin-bottom: 24px;
    font-size: 16px;
}

li.news_photo1 {
    width: 300px;
}

h3{
    font-size: 16px;
}

.li.p.news_photo1{
    font-size: 16px;
}

p.news_text{
    line-height: 2;
    font-size: 16px;
}

ul.news_photo {
    display: flex;
    width: 960px;
    align-items: center;
    justify-content: space-between;
}

.submit{
    width: 300px;
    height: 60px;
    background-color: #ffd61a;
    color: white;
    font-size: 18px;
    margin-bottom: 60px;
    align-items: center;
    margin-top: 60px;
}

p.more{
    text-align: center;
}

p.more :hover{
    background-color: coral;
}

/* ここまでnews */

/* ここからaccess */

.access{
    text-align: center;
    background-color: #fafafa;
    margin-top: 60px;
}

.access_title{
    font-size: 24px;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 30px;
}

.access_subtitle{
    margin-bottom: 60px;  
}

.access_map{
    width: 100%;
}

.access_detail{
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.access_detail{
    margin-top: 60px;
    padding-bottom: 60px;
}

.access_detail dt{
    margin-left: 30%;
    width: 20%;
    text-align: left;
    margin-bottom: 20px;
}

.access_detail dd{
    margin-right: 10%;
}

/* ここまでaccess */

/* ここからcontact */

.contact_title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 60px;
    font-weight: bold;
}

.contact_subtitle{
    text-align: center;
    margin-bottom: 60px;

}

.contact_text1{
    text-align: center;
    line-height: 2;
}

.contact_text1-2{
    margin-bottom: 30px;
    text-align: center;
    line-height: 2;
}
.contact_text2{
    text-align: center;
    line-height: 2;
}

.contact{
    margin-bottom: 70px;
    margin-top: 60px;
}

/* ここまでcontact */

/* ここからform部分 */

.form-inner dt{
    text-align: left;
    padding-left: 16px;
    padding-right: 64px;
    height: 40px;
    padding-top: 10px;
    width: 240px;
}

.form-inner{
    border-top: solid 2px #bfbfbf;
    font-size: 16px;
}

.form-inner dd{
    width: 500px;
    text-align: left;
    margin: auto 10px;
}

input[type="text"] {
    width: 320px;
    height: 24px;
    margin: auto 0;

}

input[type="email"] {
    width: 320px;
    height: 24px;
    margin: auto 0;

}

.form-titlecheckbox p{
    margin-bottom: 24px;
    margin-top: 12px;
}

textarea{
    margin: 10px auto;
}

dl.form-inner {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    margin: auto;
}

.form-innerbox {
    display: flex;
    margin: auto;
    border-bottom: solid 1px #bfbfbf;
    width: 100%;
}

textarea{
    width: 320px;

}

select {
    width: 320px;
    height: 36px;
    margin: auto 0;
}

/* ここからfooter */

.footer{
    background-color:#707070;
    color: white;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

/* ここまでfooter */